@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/catppuccin';

@plugin '@tailwindcss/typography';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

[data-theme='theme'] {
    --text-scaling: 1.067;
    --base-font-color: var(--color-surface-950);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-family: system-ui, sans-serif;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-family: inherit;
    --heading-font-weight: bold;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.25rem;
    --radius-base: 0.375rem;
    --radius-container: 0.75rem;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-50);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(91.66% 0.04 257.51deg);
    --color-primary-100: oklch(84.1% 0.08 254.61deg);
    --color-primary-200: oklch(76.5% 0.11 254.28deg);
    --color-primary-300: oklch(69.52% 0.15 254.36deg);
    --color-primary-400: oklch(62.85% 0.19 255.71deg);
    --color-primary-500: oklch(57.32% 0.21 258.29deg);
    --color-primary-600: oklch(51.62% 0.19 258.15deg);
    --color-primary-700: oklch(46.06% 0.17 257.78deg);
    --color-primary-800: oklch(40.05% 0.14 257.62deg);
    --color-primary-900: oklch(34.15% 0.11 257.14deg);
    --color-primary-950: oklch(27.73% 0.08 257.49deg);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-dark);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(86.66% 0.05 300.15deg);
    --color-secondary-100: oklch(78.51% 0.09 303.57deg);
    --color-secondary-200: oklch(70.44% 0.13 304.44deg);
    --color-secondary-300: oklch(62.83% 0.17 303.81deg);
    --color-secondary-400: oklch(55.48% 0.2 302.75deg);
    --color-secondary-500: oklch(49.07% 0.23 300.46deg);
    --color-secondary-600: oklch(45.39% 0.21 299.6deg);
    --color-secondary-700: oklch(41.75% 0.19 298.26deg);
    --color-secondary-800: oklch(37.84% 0.17 296.27deg);
    --color-secondary-900: oklch(34.08% 0.15 293.97deg);
    --color-secondary-950: oklch(30.18% 0.13 291.16deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-light);
    --color-secondary-contrast-500: var(--color-secondary-contrast-light);
    --color-secondary-contrast-600: var(--color-secondary-contrast-light);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(90.73% 0.08 328.92deg);
    --color-tertiary-100: oklch(82.91% 0.13 339.68deg);
    --color-tertiary-200: oklch(76% 0.18 345.55deg);
    --color-tertiary-300: oklch(70.27% 0.23 350.68deg);
    --color-tertiary-400: oklch(66.48% 0.25 355.85deg);
    --color-tertiary-500: oklch(64.54% 0.26 2.48deg);
    --color-tertiary-600: oklch(59.37% 0.24 1.7deg);
    --color-tertiary-700: oklch(53.9% 0.22 0.5deg);
    --color-tertiary-800: oklch(48.45% 0.2 359.66deg);
    --color-tertiary-900: oklch(42.69% 0.17 357.71deg);
    --color-tertiary-950: oklch(36.93% 0.15 355.34deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(94.05% 0.09 178.66deg);
    --color-success-100: oklch(91.62% 0.1 178.6deg);
    --color-success-200: oklch(89.44% 0.11 177.16deg);
    --color-success-300: oklch(87.13% 0.12 176.9deg);
    --color-success-400: oklch(85.09% 0.13 175.45deg);
    --color-success-500: oklch(82.91% 0.13 174.95deg);
    --color-success-600: oklch(72.85% 0.12 175.7deg);
    --color-success-700: oklch(62.4% 0.1 175.99deg);
    --color-success-800: oklch(51.26% 0.08 178.28deg);
    --color-success-900: oklch(39.72% 0.06 179.74deg);
    --color-success-950: oklch(27.27% 0.04 185.29deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-light);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(95.67% 0.05 84.56deg);
    --color-warning-100: oklch(92.83% 0.06 82.16deg);
    --color-warning-200: oklch(90.12% 0.08 80.33deg);
    --color-warning-300: oklch(87.59% 0.1 80.01deg);
    --color-warning-400: oklch(85.03% 0.12 78.35deg);
    --color-warning-500: oklch(82.46% 0.14 76.71deg);
    --color-warning-600: oklch(76.34% 0.13 72.25deg);
    --color-warning-700: oklch(70.34% 0.13 68.09deg);
    --color-warning-800: oklch(63.99% 0.13 63.18deg);
    --color-warning-900: oklch(57.91% 0.13 57.97deg);
    --color-warning-950: oklch(51.69% 0.13 51.44deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-dark);
    --color-warning-contrast-600: var(--color-warning-contrast-light);
    --color-warning-contrast-700: var(--color-warning-contrast-light);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(89.99% 0.04 14.04deg);
    --color-error-100: oklch(83.49% 0.07 19.81deg);
    --color-error-200: oklch(77.4% 0.11 21.98deg);
    --color-error-300: oklch(72.13% 0.15 24.9deg);
    --color-error-400: oklch(67.39% 0.19 26.71deg);
    --color-error-500: oklch(63.72% 0.22 28.71deg);
    --color-error-600: oklch(59.28% 0.21 28.53deg);
    --color-error-700: oklch(54.92% 0.2 28.58deg);
    --color-error-800: oklch(50.51% 0.19 28.72deg);
    --color-error-900: oklch(46.22% 0.18 28.88deg);
    --color-error-950: oklch(41.86% 0.17 29.23deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-light);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(100% 0 none);
    --color-surface-100: oklch(90.67% 0 none);
    --color-surface-200: oklch(81.41% 0 none);
    --color-surface-300: oklch(71.55% 0 none);
    --color-surface-400: oklch(61.67% 0 none);
    --color-surface-500: oklch(51.03% 0 none);
    --color-surface-600: oklch(44.95% 0 none);
    --color-surface-700: oklch(38.67% 0 none);
    --color-surface-800: oklch(32.11% 0 none);
    --color-surface-900: oklch(25.2% 0 none);
    --color-surface-950: oklch(17.76% 0 none);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-light);
    --color-surface-contrast-500: var(--color-surface-contrast-light);
    --color-surface-contrast-600: var(--color-surface-contrast-light);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}