@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/catppuccin';

@plugin '@tailwindcss/typography';
/* @source '../node_modules/@skeletonlabs/skeleton-svelte/dist'; */

[data-theme='catppuccin'] {
    --text-scaling: 1.067;
    --base-font-color: var(--color-surface-700);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-family: system-ui;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: var(--color-tertiary-500);
    --heading-font-color-dark: var(--color-secondary-200);
    --heading-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --heading-font-weight: bolder;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-secondary-600);
    --anchor-font-color-dark: var(--color-tertiary-400);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: normal;
    --anchor-font-style: normal;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.25rem;
    --radius-base: 0.75rem;
    --radius-container: 0.75rem;
    --default-border-width: 2px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: oklch(1 0 0 / 1);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(97.6% 0.02 212.47deg);
    --color-primary-100: oklch(91.32% 0.04 257.13deg);
    --color-primary-200: oklch(84.83% 0.07 268.85deg);
    --color-primary-300: oklch(78.59% 0.11 272.12deg);
    --color-primary-400: oklch(72.23% 0.14 273.55deg);
    --color-primary-500: oklch(66.25% 0.18 273.14deg);
    --color-primary-600: oklch(63.84% 0.17 273.48deg);
    --color-primary-700: oklch(61.62% 0.15 273.47deg);
    --color-primary-800: oklch(59.25% 0.14 273.88deg);
    --color-primary-900: oklch(57.01% 0.12 273.81deg);
    --color-primary-950: oklch(54.55% 0.11 274.23deg);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-light);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(87.05% 0.08 336.55deg);
    --color-secondary-100: oklch(83.93% 0.1 336.74deg);
    --color-secondary-200: oklch(80.87% 0.12 337.02deg);
    --color-secondary-300: oklch(78.17% 0.13 337.85deg);
    --color-secondary-400: oklch(75.29% 0.15 338.19deg);
    --color-secondary-500: oklch(72.53% 0.17 338.6deg);
    --color-secondary-600: oklch(66.07% 0.16 338.29deg);
    --color-secondary-700: oklch(59.56% 0.14 338.49deg);
    --color-secondary-800: oklch(52.62% 0.12 337.58deg);
    --color-secondary-900: oklch(45.7% 0.11 337.72deg);
    --color-secondary-950: oklch(38.38% 0.09 336.89deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(85.8% 0.08 182.85deg);
    --color-tertiary-100: oklch(80.55% 0.09 187.22deg);
    --color-tertiary-200: oklch(75.29% 0.09 190.97deg);
    --color-tertiary-300: oklch(70.14% 0.1 194.28deg);
    --color-tertiary-400: oklch(65.06% 0.1 197.47deg);
    --color-tertiary-500: oklch(60.13% 0.1 200.95deg);
    --color-tertiary-600: oklch(55.26% 0.09 199.74deg);
    --color-tertiary-700: oklch(50.32% 0.08 199.32deg);
    --color-tertiary-800: oklch(45.24% 0.07 197.5deg);
    --color-tertiary-900: oklch(40.06% 0.06 196.51deg);
    --color-tertiary-950: oklch(34.72% 0.05 193.09deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(85.77% 0.11 142.7deg);
    --color-success-100: oklch(81.11% 0.13 141.89deg);
    --color-success-200: oklch(76.23% 0.14 141.28deg);
    --color-success-300: oklch(71.66% 0.16 140.48deg);
    --color-success-400: oklch(66.87% 0.17 140.33deg);
    --color-success-500: oklch(62.41% 0.18 140.43deg);
    --color-success-600: oklch(57.85% 0.16 140.84deg);
    --color-success-700: oklch(52.9% 0.14 141.79deg);
    --color-success-800: oklch(48.16% 0.12 142.88deg);
    --color-success-900: oklch(43% 0.1 145.42deg);
    --color-success-950: oklch(38.04% 0.08 149.33deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-light);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(91.93% 0.07 86.52deg);
    --color-warning-100: oklch(87.62% 0.09 81.75deg);
    --color-warning-200: oklch(83.36% 0.11 78.43deg);
    --color-warning-300: oklch(79.3% 0.12 76.32deg);
    --color-warning-400: oklch(75.26% 0.14 72.68deg);
    --color-warning-500: oklch(71.4% 0.15 67.88deg);
    --color-warning-600: oklch(65.78% 0.14 69.03deg);
    --color-warning-700: oklch(60.37% 0.12 70.57deg);
    --color-warning-800: oklch(54.52% 0.1 72.35deg);
    --color-warning-900: oklch(48.88% 0.09 74.8deg);
    --color-warning-950: oklch(42.76% 0.07 78.06deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-dark);
    --color-warning-contrast-600: var(--color-warning-contrast-dark);
    --color-warning-contrast-700: var(--color-warning-contrast-light);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(75.56% 0.13 2.78deg);
    --color-error-100: oklch(70.18% 0.16 4.89deg);
    --color-error-200: oklch(65.27% 0.18 7.81deg);
    --color-error-300: oklch(60.81% 0.2 10.57deg);
    --color-error-400: oklch(57.47% 0.22 14.92deg);
    --color-error-500: oklch(55.13% 0.22 19.72deg);
    --color-error-600: oklch(50.99% 0.2 18.37deg);
    --color-error-700: oklch(46.81% 0.18 16.65deg);
    --color-error-800: oklch(42.42% 0.16 14.8deg);
    --color-error-900: oklch(38.31% 0.14 12.11deg);
    --color-error-950: oklch(34.35% 0.11 8.63deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-light);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(90.64% 0.01 267.4deg);
    --color-surface-100: oklch(85.79% 0.01 271.31deg);
    --color-surface-200: oklch(80.91% 0.02 274.81deg);
    --color-surface-300: oklch(75.63% 0.02 276.88deg);
    --color-surface-400: oklch(70.59% 0.03 278.21deg);
    --color-surface-500: oklch(65.43% 0.03 278.8deg);
    --color-surface-600: oklch(57.8% 0.03 280.9deg);
    --color-surface-700: oklch(50.1% 0.03 280.32deg);
    --color-surface-800: oklch(41.9% 0.03 282.54deg);
    --color-surface-900: oklch(33.48% 0.03 281.97deg);
    --color-surface-950: oklch(24.29% 0.03 283.92deg);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-dark);
    --color-surface-contrast-600: var(--color-surface-contrast-dark);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}